doctype html
html
    head
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(type='text/css', rel='stylesheet', href='/css/materialize.css', media='screen,projection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        include ./nav.jade
       
        footer
          .container
            .row
            p Running on node.js with Express, Jade